# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\M.Tech Books\4_DSAD\A1_PS_18-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
